<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<table border="1">
<H1>Users</H1>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Login</th>
            <th>Email</th>
            <th>Roles</th>
            <th colspan="2">Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getName()}">Name</td>
            <td th:text="${user.getUsername()}">Login</td>
            <td th:text="${user.getEmail()}">Email</td>
           <td th:text="${user.getRoles()}">Roles</td>
            <td>
                <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
            </td>
            <td>
                <a th:href="@{/admin/{id}/delete(id=${user.getId()})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br/>
<hr/>
<button onclick="window.location.href = '/admin/new';">Create new user</button>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>