<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<H1>Edit this user</H1>
<form th:method="POST" th:action="@{/admin/edit}" th:object="${user}">
    <table>
        <tr><td>
            <label for="id">ID: <a th:text="${user.id}"/> </label>
            <input type="hidden" th:field="*{id}" id="id"/>
        </td></tr>
        <tr><td>
            <label for="name">Enter name: </label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name"/>
        </td></tr>
        <tr><td>
            <label for="email">Enter email: </label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email"/>
        </td></tr>
        <tr><td>
            <label for="username">Enter Login: </label>
            <input type="text" th:field="*{username}" id="username" placeholder="Username"/>
        </td></tr>
        <tr><td>
            <label for="password">Enter password: </label>
            <input type="text" th:field="*{password}" id="password" placeholder="Password"/>
        </td></tr>
        <tr><td>
            <label>
                <input type="checkbox"
                       name="roleAdmin"
                       th:checked="${user.containsRoleName('ROLE_ADMIN')}"
                       th:value="ROLE_ADMIN"
                       th:text="ADMIN">
            </label>
            <label>
                <input type="checkbox"
                       name="roleUser"
                       th:checked="${user.containsRoleName('ROLE_USER')}"
                       th:value="ROLE_USER"
                       th:text="USER">
            </label>
        </td></tr>
        <tr><td>
            <input type="submit" value="Edit"/>
        </td></tr>
    </table>
</form>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>