<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
 </head>
<body>
<h1>Create new User</h1>
<div>
    <form th:action="@{/admin}" th:object="${user}" th:method="POST">
        <fieldset>
            <p>
                <label th:for="name">Name
                    <input type="text"
                           name="name"
                           th:id="name">
                </label>
                <br/>
                <br/>
                <label th:for="email">E-mail
                    <input type="text"
                           name="email"
                           th:id="email">
                </label>
                <br/>
                <label th:for="Login">Login
                    <input type="text"
                           name="username"
                           th:id="username">
                </label>
                <br/>
                <label th:for="password">Password
                    <input type="text"
                           name="password"
                           th:id="password">
                </label>
                <br/>
                <label>
                    <input type="checkbox"
                           name="roleAdmin"
                           th:value="ROLE_ADMIN"
                           th:text="ADMIN">
                </label>
                <label>
                    <input type="checkbox"
                           name="roleUser"
                           th:value="ROLE_USER"
                           th:text="USER">
                </label>
            </p>
        </fieldset>
        <button type="submit">Create!</button>
    </form>
</div>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>