<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
    <style> div {
        width: 250px;
        padding: 10px 5px;
        font-family: "Roboto Light",serif;
        font-size: 16px;
        border-style: solid;
        border-width: 1px;

    }
    button {
        padding: 5px;
        background-color: coral;
    }
    </style>
</head>
<body>
<h1>User-page</h1>
<br/>
<div th:text="${'ID: ' + user.getId()}">ID</div>
<div th:text="${'NAME: ' + user.getName()}">NAME</div>
<div th:text="${'Email: ' + user.getEmail()}">EMAIL</div>
<div th:text="${'Login: ' + user.getUsername()}">Login</div>
<div>
    <p>Your roles:</p>
    <tr th:each="role : ${roles}">
        <th th:text="${role}"></th>
        <br/>
    </tr>
</div>
<hr/>
<br/>
<th:block sec:authorize="hasRole('ADMIN')">
    <button onclick="window.location.href = '/admin/user_list';">User List</button>
</th:block>
<hr/>
<br/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout" />
</form>
</body>
</html>